 body {
      margin: 0;
      background-color: rgb(20, 16, 16);
      color: #333;
   }
 /* Codi de la Font Medieval */
      h1 {
         font-family: MedievalSharp;
         font-size: 24px; 
         font-style: normal;
         font-variant: normal; 
         font-weight: 700; 
         line-height: 26.4px;
    } 

      h3 { 
          font-family: MedievalSharp;
          font-size: 14px;
          font-style: normal;
          font-variant: normal; 
          font-weight: 700; 
          line-height: 15.4px;

    } 

      p {
      font-family: MedievalSharp;
      font-size: 14px; 
      font-style: normal; 
      font-variant: normal; 
      font-weight: 400; 
      line-height: 20px; 
    } 

      blockquote {
      font-family: MedievalSharp; 
      font-size: 21px;
      font-style: normal;
      font-variant: normal;
      font-weight: 400;
      line-height: 30px;
    } 

    pre { 
     font-family: MedievalSharp;
     font-size: 13px; 
     font-style: normal;
     font-variant: normal; 
     font-weight: 400;
     line-height: 18.5714px;
   }

   /*Codi de la Font Medieval */
     
      
    header {
    background-color: #2c3e50;
    color: white;
    text-align: center;
    padding: 2rem 1rem;
    background-image: url(ofeliaa.jpg);
    background-size: cover;
    background-repeat:  no-repeat; 
  }

    header h1 {
      margin: 0;
      font-size: 2.5rem;
  }

    header p {
      max-width: 800px;
      margin: 1rem auto 0;
      line-height: 1.6;
  }
    
    .grid {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
      gap: 20px;
      padding: 2rem;
  }

    .grid img {
      width: 100%;
      height: auto;
      border-radius: 8px;
      box-shadow: 0 4px 8px rgba(0,0,0,0.1);
      transition: transform 0.3s;
      
  }
    .grid img:hover {
    
      transform: scale(1.50);
      
  }