footer {
    background-color: #222;
    color: #fff;
    padding: 20px;
    font-family: 'Poppins', sans-serif;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.footer-pagos, .footer-redes {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-logo {
    width: 40px;   /* mismo ancho para todos */
    height: 40px;  /* misma altura para todos */
    object-fit: contain; /* mantiene proporción dentro del cuadro */
    margin: 5px;
    cursor: pointer;
    transition: transform 0.3s;
}

.footer-logo:hover {
    transform: scale(1.1);
}
